<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Register Page</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<h3>Register</h3>

		<p>Since you are not in the database you need to register if you want to see your feed from Facebook</p>
		
		<form action="#" th:action="@{/registerform}" th:object="${userobject}" method="POST">
			<p>Username: <input type="text" th:field="*{username}" /></p>
			<p>Email: <input type="email" th:field="*{email}" /></p>
			<p>Password: <input type="password" th:field="*{password}" /></p>
			<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
		</form>
	</body>
</html>